@import 'styles/variables';
@import 'styles/card';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    // Weight, 400, 700
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;

    height: 100vh;

    background-color: $clr-cyan;
    display: grid;
    place-items: center;
}